# ==========================================
# Configuración del Entorno de Contenedores
# ==========================================

# Configuración de PostgreSQL
POSTGRES_USER=cudii_admin
POSTGRES_PASSWORD=cudii_pass123
POSTGRES_DB=cudii_db
DB_HOST=postgres
DB_PORT=5432

# Configuración de la API NestJS
NODE_ENV=development
API_PORT=3000

# Configuración de Prisma
# La URL de la base de datos se utilizará internamente en el contenedor API.
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?schema=public

# Configuración de Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT y Seguridad
JWT_SECRET=super_secret_jwt_key_example_change_me
JWT_EXPIRATION=24h
