@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-link: var(--link);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --font-dongle: "Dongle", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  :root {
    --primary: #2563EB;
    --secondary: #0F172A;
    --background: #F8FAFC;
    --surface: #FFFFFF;
    --text-primary: #0F172A;
    --text-secondary: #64748B;
    --link: #2563EB;
    --success: #16A34A;
    --warning: #D97706;
    --danger: #DC2626;
  }

  .dark {
    --primary: #3B82F6;
    --secondary: #F8FAFC;
    --background: #0F172A;
    --surface: #1E293B;
    --text-primary: #F8FAFC;
    --text-secondary: #94A3B8;
    --link: #60A5FA;
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--text-primary);
    font-family: var(--font-jakarta);
  }
  
  /* Utilidades para los Headings según DESIGN_SYSTEM.md */
  h1, h2 {
    font-family: var(--font-dongle);
  }
}
